<div class="alert alert-info alert-dismissible text-center" role="alert">
  <br />
  <br />
  <p>O projeto DevFuria está no github</p>
    <br />
    <p>Se você gostou desse artigo, não deixe de nos ajudar dando uma estrelinha e clonando o <a href="https://github.com/flaviomicheletti/devfuria.com.br">repositório</a></p>
    <br />
    <p>
      <a href="https://github.com/flaviomicheletti/devfuria.com.br">
        <img src="https://user-images.githubusercontent.com/1257048/203871791-be896eed-4a77-4fae-a48a-53d03b878d46.png" />
      </a>
    </p>
    <br />
    <br />
</div>