<div class="alert alert-info alert-dismissible text-center" role="alert">
  <p><b>Você sabe quantas pessoas acessam o Devfuria?</b></p>
    <p>Você pode acessar o <a href="https://github.com/flaviomicheletti/devfuria.com.br">repositório</a> no github e dar uma olhada no readme.</p>
    <br />
    <p>
      <a href="https://github.com/flaviomicheletti/devfuria.com.br">
        <img src="https://user-images.githubusercontent.com/1257048/204089478-b230a15f-ff04-427b-aaa2-a8413118057b.png" />
      </a>
    </p>
    <br />
    <p>
      E não esquece de acessar o <a href="https://github.com/flaviomicheletti/devfuria.com.br">repositório no GitHub</a>, clonar o repo e deixar uma estrelinha para a gente!
    </p>
    <br />
    <p>
      Boa leitura!
    </p>
</div>
