<!DOCTYPE html>
<html lang="pt-br">
    <head>

    {% include header.html %}

    </head>
    <body>

    <div class="container">
      <div class="row">
        <div class="col-md-12">

          {% comment %}bread-crumb{% endcomment %}
          <ol class="breadcrumb navbar-static-top">
              <li><a href="/">{{ site.dominio }}</a></li>
              <li class="active">{{ site.baseurl | remove: "/" }}</a></li>
          </ol>

        </div>
      </div>
    </div>

    {% include ad-svelte.html %}

    <article class="container">
      <div class="row">
        <div class="col-sm-offset-2 col-md-8">
          <div class="page-header text-center">
            <h1>{{ page.title }} <br /><small>{{ page.description }}</small></h1>
          </div>
          {{ content }}
        </div>
      </div>
    </article>

    <hr />

    {% include footer.html %}
    {% include footer-js.html %}

    </body>
</html>